@import "bourbon";

//var font-family
$default-font: 'Ubuntu', sans-serif;

//var colors
$color-accent: #B01DDC;
$main-color: #00623f;
$text-color: #fff;
$color-placholder: gray;

//var width
$min-width: 270px;
$max-width: 1440px;

